# Visual Studio
.vs/

# CMake
CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps
CMakePresets.json
CMakeUserPresets.json

# VCPKG
vcpkg_installed/

# Build artifacts
out/